<h1>User Profile</h1>

<p><strong>Email: </strong><%= @user.email %></p>

<p><strong>Votes:</strong></p>
<ul>
  <% @restaurants.each do |r| %>
    <li>Restaurant: <%= r.name %></li>
    <% @my_votes = UsersController.get_vote_by_rest_id(r.id) %>
    <ul>
    	<% @my_votes.each do |v| %>
    	  <% if v.vote == 1 %>
    	    <li>Vote: Does Split</li>
    	  <% end %>
        <% if v.vote == 2 %>
    	    <li>Vote: Does not Split</li>
    	  <% end %>
    	<% end %>
    </ul>
  <% end %>


</ul>
<%= render template: 'favorites/show' %>
