<p id="notice"><%= notice %></p>

<!--
I tried to insert the restaurant information from the restaurant#Show
but I kept getting an error saying:
"undefined method 'name' for nil:NilClass"
I am not sure why I am getting this error nor do I know how to fix it.

-->

<p>
  <%= link_to 'Splits Check', up_vote_path(restaurant.id), method: 'put' %>
</p>

<p>
  <%= link_to "Doesn't Split Check", down_vote_path(restaurant.id), method: 'put' %>
</p>

<%= link_to 'Back', votes_path %>
